<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<script src="/socket.io/socket.io.js"></script>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</head>
<body>

<script>
  var socket = io.connect('http://localhost:3030');
  socket.on('connect', function(){
  	socket.emit('getRoomList');
  	socket.emit('setUserName');
  });

  socket.on('initRoomList', function(rooms){
  	$('#rooms').empty();
  	$.each(rooms, function(key, value) {
  		$('#rooms').append('<a href="#" class="list-group-item" onclick="joinRoom(\''+value+'\')"><span class="badge">14</span>' + value + '</a>');
  	});
  });


</script>

<div class="row">
	<div class="col-md-6">
		<div class="list-group" id="rooms">
			불러오는중...
			
		</div>
	</div>
</div>



</body>
</html>
